.status-bar {
  width: 100%;
  background-color: var(--background2);
  color: var(--success);
  font-family: monospace;
  padding: 0.5rem 1rem;
}

.not-initiated {
  color: var(--danger);
}

.initiated {
  color: var(--success);
}
